article{
    text-decoration: overline;
}

a{
    text-decoration: line-through;
}

/*
    text-decoration: line-through;
    text-decoration: inherit;
    text-decoration: none;
    text-decoration: overline;
    text-decoration: underline;
*/

