p{
    font-size: 12px;

    letter-spacing: 0.2em;
    line-height: 1.5em;


    /*letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 20px;
    */
}

/*
    letter-spacing: inherit;
    letter-spacing: normal;
*/